.banner {
    display: flex;
    gap: 1px;
    height: 326px;
}

.bannerMain {
    width: 65%;
    position: relative;
}

.bannerBadges {
    position: absolute;
    left: 8px;
    gap: 4px;
    display: flex;
}

.bannerBadgesTop {
    top: 8px;
}

.bannerBadgesBottom {
    bottom: 8px;
}

.bannerImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bannerSecondary {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.bannerSecondaryImage {
    flex: auto;
    width: 100%;
}

@media (max-width: 480px) {
    .banner {
        flex-direction: column;
    }

    .bannerMain {
        width: 100%;
        height: 232px;
    }

    .bannerSecondary {
        flex-direction: row;
        height: 119px;
    }
}