@import './sass/variables.module';

.details {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-lg);
    padding: var(--space-lg);

    @media (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        padding-right: 0;
        padding-left: 0;
    }
}

.price {
    flex: 1;
    display: flex;
    align-items: baseline;
    column-gap: 6px;
    flex-wrap: wrap;
}

.payment {
    @media (max-width: $breakpoint-sm) {
        font-size: 14px;
    }
}

.info {
    width: 70%;
    margin-top: 3px;
    color: var(--neutral-800);

    @media (max-width: $breakpoint-md) {
        width: 60%;
    }

    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }
}

.location {
    display: flex;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: 6px;
    }

    @media (max-width: $breakpoint-sm) {
        gap: 0;
    }
}

.description {
    margin-right: var(--space-sm);
    padding-right: var(--space-sm);
    border-right: 1px solid var(--neutral-400);

    @media (max-width: $breakpoint-md) {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }
}

.address {
    @media (max-width: $breakpoint-md) {
        display: flex;
    }
}

.addressText {
    @media (max-width: $breakpoint-md) {
        margin-left: var(--space-sm);
        padding-left: var(--space-sm);
        border-left: 1px solid var(--neutral-400);
    }

    @media (max-width: $breakpoint-sm) {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    row-gap: var(--space-xs);
    margin-top: 10px;
}

.icon {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    color: var(--neutral-800);

    img {
        opacity: 0.5;
    }

    strong {
        color: var(--neutral-800);
    }
}

.badges {
    display: flex;
    gap: var(--space-sm);
    margin-top: 10px;
}

.detailsPromotedBadge {
    position: absolute;
    bottom: var(--space-lg);
    left: var(--space-lg);
}
