@import './sass/variables.module';

:root {
  --brand-secondary: #0a6d99;
  --brand-agency: #ffe996;
  --neutral-900: #0d1d28;
  --neutral-800: #202e37;
  --neutral-700: #30414d;
  --neutral-600: #465864;
  --neutral-500: #637482;
  --notification-orange: #e46b26;
  --notification-green: #059f65;
  --neutral-400: #97a4af;
  --neutral-200: #e9edf0;
  --neutral-white: #fff;
  --highlight: #a4d8f3;

  --font-inter: "Inter", Arial, Helvetica, sans-serif;
}

.Heading-2 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;

  @media (max-width: $breakpoint-sm) {
    font-size: 20px;
  }
}

.BaseBold {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.BaseSemi-Bold {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.BaseRegular {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.SmallBold {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.SmallSemi-Bold {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.SmallRegular {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.XSmallRegular {
  font-family: var(--font-inter);
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

body {
  color: var(--neutral-900);
  background: var(--neutral-white);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.showOnMdOnly {
  display: none !important;

  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    display: block !important;
  }
}

.showOnSmOnly {
  display: none !important;

  @media (max-width: $breakpoint-sm) {
    display: block !important;
  }
}

.hideOnMdOnly {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    display: none !important;
  }
}

.hideOnSm {
  @media (max-width: $breakpoint-sm) {
    display: none !important;
  }
}