.badge {
    display: inline-block;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--space-xs);
    background-color: #f1f4f5;
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;

    &--sizeSm {
        padding: 2px var(--space-xs);
        font-size: 10px;
        font-weight: 400;
    }

    &--sizeLg {
        padding: 2px var(--space-sm);
        font-size: 14px;
        font-weight: 800;
    }

    &--colorGreen {
        background-color: var(--notification-green);
        color: var(--neutral-white)
    }
    
    &--colorOrange {
        background-color: var(--notification-orange);
        color: var(--neutral-white)
    }
    
    &--colorDark {
        background-color: var(--neutral-700);
        color: var(--neutral-white)
    }
}
