.badge {
    position: relative;
    padding: 4px var(--space-sm);

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--highlight);
        opacity: 0.2;
    }
}

.label {
    color: var(--neutral-600);
}

.value {
    color: var(--neutral-800);
}
